In [3]:
import pandas as pd
import numpy as np

In [26]:
df = pd.DataFrame({'SVol': [25, 55, 50, 75, 110, 138, 90, 60, 10, 100], 
                           'Ing': [10, 18, 25, 40, 50, 63, 42, 30, 5, 55], 
                           'yi-y': [np.nan, np.nan, np.nan, 3.7, np.nan, np.nan, np.nan, np.nan, np.nan, 28.7], 
                           'xi-x': [-23.8, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, 21.2], 
                           'SSxy': [np.nan, 257.54, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, 608.44], 
                           'SSxx': [566.44, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, 449.44],
                           'Pred': [24.4, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, 113.05], 
                           'residual': [0.6, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, -13.05], 
                           'SSres': [0.36, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, 170.30], 
                           'SSexpl': [2199.61, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, 1743.06], 
                           'SSyy=SStot': [2143.69, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, 823.69]
                           })

In [27]:
df = df[['SVol', 'Ing','yi-y','xi-x','SSxy','SSxx', 'Pred', 'residual','SSres', 'SSexpl','SSyy=SStot']]

###Part 1

####a) Compute x bar and y bar

In [34]:
x_bar = df['Ing'].mean()
y_bar = df['SVol'].mean()

In [37]:
print "x bar: " + str(x_bar)
print "y bar: " + str(y_bar)

x bar: 33.8
y bar: 71.3

####b) Complete section 1 of Table 1 using xbar and ybar

In [38]:
75 - y_bar

3.700000000000003

In [39]:
df['yi-y'] = df['SVol'] - y_bar

In [41]:
df['xi-x'] = df['Ing'] - x_bar

In [42]:
df['SSxy'] = df['yi-y']*df['xi-x']
df['SSxx'] = df['xi-x']**2

In [43]:
df

,SVol,Ing,yi-y,xi-x,SSxy,SSxx,Pred,residual,SSres,SSexpl,SSyy=SStot
0,25,10,-46.3,-23.8,1101.94,566.44,24.40,0.60,0.36,2199.61,2143.69
1,55,18,-16.3,-15.8,257.54,249.64,NaN,NaN,NaN,NaN,NaN
2,50,25,-21.3,-8.8,187.44,77.44,NaN,NaN,NaN,NaN,NaN
3,75,40,3.7,6.2,22.94,38.44,NaN,NaN,NaN,NaN,NaN
4,110,50,38.7,16.2,626.94,262.44,NaN,NaN,NaN,NaN,NaN
5,138,63,66.7,29.2,1947.64,852.64,NaN,NaN,NaN,NaN,NaN
6,90,42,18.7,8.2,153.34,67.24,NaN,NaN,NaN,NaN,NaN
7,60,30,-11.3,-3.8,42.94,14.44,NaN,NaN,NaN,NaN,NaN
8,10,5,-61.3,-28.8,1765.44,829.44,NaN,NaN,NaN,NaN,NaN
9,100,55,28.7,21.2,608.44,449.44,113.05,-13.05,170.30,1743.06,823.69

####d) confirm the following by filling in the table (some crazy summation)

In [45]:
sum_ssxy = df['SSxy'].sum()
sum_ssxx = df['SSxx'].sum()
print "sum_ssxy: " + str(sum_ssxy)
print "sum_ssxx: " + str(sum_ssxx)

sum_ssxy: 6714.6
sum_ssxx: 3407.6

####d) Confirm the following computation of the regression coefficients: beta1 = 1.97, beta0 = 4.70

In [46]:
beta1 = sum_ssxy/sum_ssxx
print "beta1: " + str(beta1)

beta1: 1.97047775561

In [48]:
beta0 = y_bar - beta1 * x_bar

In [49]:
print "beta0: " + str(beta0)

beta0: 4.69785186055

####e) write out the regression line:

y = 1.97x + 4.70

###Part 2

####a) compute y-hat

In [50]:
df['Pred'] = beta1*df['Ing']+beta0

####b) compute residual

In [52]:
df['residual'] = df['SVol'] - df['Pred']

####c) compute SSres which is Residual Sum of Squares. aka SSe, Error Sum of Squares

In [53]:
df['SSres'] = df['residual']**2

####d) Compute SSexpl (Explained Sum of Squares or SSreg, Regression Sum of Squares)

In [54]:
df['SSexpl'] = (df['Pred'] - y_bar)**2

####e) Compute SSyy (SStot), Total Sum of Squares

In [55]:
df['SSyy=SStot'] = (df['SVol'] - y_bar)**2

In [58]:
R2 = df['SSexpl']/df['SSyy=SStot']

In [59]:
R2

0     1.025971
1     3.648229
2     0.662749
3    10.902422
4     0.680379
5     0.744144
6     0.746599
7     0.439090
8     0.857052
9     2.118610
dtype: float64

In [60]:
df

,SVol,Ing,yi-y,xi-x,SSxy,SSxx,Pred,residual,SSres,SSexpl,SSyy=SStot
0,25,10,-46.3,-23.8,1101.94,566.44,24.402629,0.597371,0.356852,2199.363368,2143.69
1,55,18,-16.3,-15.8,257.54,249.64,40.166451,14.833549,220.034162,969.297845,265.69
2,50,25,-21.3,-8.8,187.44,77.44,53.959796,-3.959796,15.679982,300.682683,453.69
3,75,40,3.7,6.2,22.94,38.44,83.516962,-8.516962,72.538643,149.254163,13.69
4,110,50,38.7,16.2,626.94,262.44,103.221740,6.778260,45.944813,1018.997462,1497.69
5,138,63,66.7,29.2,1947.64,852.64,128.837950,9.162050,83.943152,3310.615744,4448.89
6,90,42,18.7,8.2,153.34,67.24,87.457918,2.542082,6.462183,261.078301,349.69
7,60,30,-11.3,-3.8,42.94,14.44,63.812185,-3.812185,14.532751,56.067381,127.69
8,10,5,-61.3,-28.8,1765.44,829.44,14.550241,-4.550241,20.704690,3220.535188,3757.69
9,100,55,28.7,21.2,608.44,449.44,113.074128,-13.074128,170.932834,1745.077805,823.69

In [61]:
print df['SSyy=SStot'].mean()

1388.21

In [62]:
r2 = df['SSexpl'].mean()/df['SSyy=SStot'].mean()

In [63]:
r2

0.9530957087030151

###Part 3: Compute F statistic and perform hypothesis test

####a) State the null and alternative hypothesis

H0: beta1 = 0
H1: beta1 != 0

####b) Compute the degrees of freedom

In [64]:
n = 10
p = 2

In [65]:
df_expl = p-1
df_res = n-p

####c) Compute the F test statistic